[user]
	name = {{ gitconfig_user_name }}

[gui]
	spellingdictionary = none

[alias]
	st = "status"
	br = "branch"
	ci = "commit"
	co = "checkout"
	pick = "cherry-pick"
	mt = "mergetool"
	dt = "difftool"
	fp = "push --force-with-lease"
	local-prune = !LANG=C git branch -vv | grep ': gone]' | grep -v \"\\*\" | awk '{print $1}' | xargs -r git branch -D
	dsf = "!git diff --color $@ | diff-so-fancy | less --tabs=4 -RFX"
	tree = log --oneline --graph --decorate --all
	srebase = !git-svn fetch && git-svn rebase
	spush = !git-svn dcommit
	hidden = !git ls-files -v | grep ""^h""
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	fixup = "!sh -c '(git diff-files --quiet || (echo \"Unstaged changes, please commit or stash with --keep-index\"; exit 1)) && COMMIT=$(git rev-parse \"$1\") && git commit --fixup=\"$COMMIT\" && git rebase -i --autosquash \"$COMMIT\"~1' -"
	aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /'

[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow
	frag = magenta bold
	old = red bold
	new = green bold
	commit = yellow bold
	whitespace = red reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[merge]
	tool = meld # meld utilisé lors d'une résolution de conflit avec `git mergetool`
	conflictstyle = diff3
	keepBackup = false
[diff]
	tool = meld # meld utilisé pour diff de fichiers avec `git difftool`
[push]
	default = simple
[bash]
	showDirtyState = true
[core]
	editor = code -w # VSCode comme éditeur par défaut des messages de commit
	autocrlf = input
[pull]
	rebase = merges
[fetch]
    prune = true
[webui]
	autoupdate = true
[rebase]
	autostash = true
[rerere]
	enabled = true
[init]
    defaultBranch = main
